@import url('https://fonts.googleapis.com/css2?family=Roboto');

body {
    font-family: var(--paragraph-font);
    max-width: 960px;
    padding: 20px;
}

:root {
    --primary-color: #00120B;
    --secondary-color: #B5E2FA;
    --accent1-color: #F9F7F3;
    --accent2-color: #547AA5;

    --heading-font: 'Nunito', sans-serif;
    --paragraph-font: 'Roboto', serif;

    --nav-background-color: #B5E2FA;
    --nav-link-color: #547AA5;
    --nav-hover-link-color: #547AA5;
    --nav-hover-background-color: #F9F7F3;
}

.grid header {
    margin: 1rem auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    border-bottom: 1px #0000 solid;
    max-width: 120px;
}

header img {
    width: 15%;
    height: 25%;
    float: left;
    margin: 1rem;
}

nav {
    text-align: center;
}

.navigation {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    list-style: none;
    padding: 0;
    float: left;
}

.navigation li {
    flex: 1 1 100%;
}

.navigation a {
    display: block;
    color: navy;
    padding: 20px;
    text-decoration: none;
}

.navigation a:hover {
    color: tomato;
    font-weight: 700;
    text-decoration: underline;
}

p {
    padding: 25px;
}

section img {
    width: 50%;
    height: auto;
}

section p{
    padding: 0px;
}

.hero {
    position: relative;
    width: 100%;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}

.hero article img {
    display: block;
    width: 30%;
    height: auto;
    float: right;
}

.hero article {
    position: absolute;
    top: 55%;
    left: 100px;
    right: 100px;
    background-color: rgba(214, 214, 214, 0.7);
    padding: 5px;
}

.hero h1 {
    position: absolute;
    top: 40%;
    left: 335px;
    color: rgb(255, 255, 255);
    background-color: rgba(59, 59, 59, 0.7);
    padding: 5px 10px;
}

.adventure {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

.adventure h2 {
    text-align: center;
}

.adventure figure {
    text-align: center;
}

.adventure img {
    width: 200px;
    height: auto;
}

.adventure figcaption {
    background-color: #222;
    color: #fff;
    font-family: Roboto;
    padding: 2px;
}

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 2px solid #ccc;
    padding: 20px 0;
}

footer img{
    position: relative;
    width: 50px;
    height: 50px;
}

.sociallinks nav {
    font-size: 1.2rem;
    display: flex;
}

.sociallinks nav a {
    display: block;
    color: var(--nav-link-color);
    text-decoration: none;
    padding: 1rem;
}

.sociallinks nav a:link,nav a:visited {
    color: var(--nav-link-color);
}

.sociallinks nav a:hover {
    color: var(--nav-hover-link-color);
}