@import url('https://fonts.googleapis.com/css2?family=Roboto');

body {
    font-family: var(--paragraph-font);
    max-width: 960px;
    padding: 20px;
}

:root {
    --primary-color: #00120B;
    --secondary-color: #B5E2FA;
    --accent1-color: #F9F7F3;
    --accent2-color: #547AA5;

    --heading-font: 'Nunito', sans-serif;
    --paragraph-font: 'Roboto', serif;

    --nav-background-color: #B5E2FA;
    --nav-link-color: #547AA5;
    --nav-hover-link-color: #547AA5;
    --nav-hover-background-color: #F9F7F3;
}

/* about.html and site-plan-rafting.html */

header {
    display: grid;
    grid-template-columns: auto 1fr;
    margin: 1rem auto;
    align-items: center;
    max-width: 1000px;
}

header img {
    position: relative;
    left: 100%;
    width: 50%;
    height: auto;
    margin: 10px;
}

.navigation {
    display: flex;
    list-style: none;
    align-items: center;
    text-align: center;
    position: relative;
    left: 30%;
}

.navigation li {
    flex: 1 100%;
    text-align: center;
}

.navigation a {
    display: block;
    color: #4682b4;
    text-decoration: none;
    padding: 5px;
    border: 1px #00120B solid;
}

.navigation a:hover {
    color: #FFA78F;
    font-weight: 700;
    text-decoration: underline;
}

.hero {
    position: relative;
    width: 100%;
    left: 20%;
    right: 20%;
}

.hero h1 {
    position: absolute;
    text-align: center;
    top: 0%;
    left: 0%;
    right: 0%;
    color: rgb(255, 255, 255);
    background-color: rgba(59, 59, 59, 0.7);
    padding: 5px 10px;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}

.hero article img {
    display: block;
    width: 30%;
    height: auto;
    float: right;
}

.hero article {
    position: absolute;
    top: 30%;
    left: 10%;
    right: 10%;
    background-color: rgba(214, 214, 214, 0.7);
    padding: 5px;
}

.hero p {
    padding: 25px;
}

section p {
    padding: 10px;
}

.title h2 {
    position: relative;
    left: 66%;
}

.history {
    display: flex;
    position: relative;
    max-width: 600px;
    margin: auto;
    text-align: center;
    left: 20%;
}

.left {
    flex: 1;
    width: 300px;
    height: 300px;
}

.right {
    flex: 1;
    width: 300px;
    height: 300px;
}

.ad-title h2 {
    position: relative;
    left: 60%;
    right: 60%;
}

.adventure {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.adventure figure {
    position: relative;
    width: 200px;
    height: auto;
}

.adventure img {
    width: 200px;
    height: auto;
}

.adventure figcaption {
    text-align: center;
    background-color: #222;
    color: #fff;
    font-family: Roboto;
    padding: 2px;
}

footer {
    display: flex;
    width: 150%;
    border-top: 2px solid #ccc;
    justify-content: center;
}

footer p {
    padding: 5px;
}

.sociallinks img {
    width: 50px;
    height: 50px;
    padding: 5px;
}

.sociallinks {
    display: flex;
    flex: 0 0 auto;
    position: relative;
    left: 5%;
}

.sociallinks nav a {
    color: var(--nav-link-color);
    text-decoration: none;
    padding: 1rem;
}

.sociallinks nav a:link, nav a:visited {
    color: var(--nav-link-color);
}

.sociallinks nav a:hover {
    color: var(--nav-hover-link-color);
}

/* about.html and site-plan-rafting.html */

/* contact.html */

.contact {
    position: absolute;
    width: 50%;
    margin: auto;
    left: 20%;
    top: 40%;
}

.map {
    position: relative;
    width: 50%;
    margin: auto;
    left: 40%;
}

.emp-title {
    position: relative;
    font-size: 15px;
    margin: auto;
    left: 63%;
}

.employee {
    clear: both;
    display: flex;
    flex-direction: row;
}

.employee figure {
    position: relative;
    width: 200px;
    height: auto;
    left: 30%;
    right: 30%;
}

.employee img {
    width: 200px;
    height: auto;
}

.employee figcaption {
    text-align: center;
    background-color: #222;
    color: #fff;
    font-family: Roboto;
    padding: 2px;
}

.form {
    position: relative;
    left: 25%;
    max-width: 800px;
    width: 65%;
    margin: 20px auto;
    padding: 20px;
    background-color: #f9f9f9;
}

.form label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
    padding: 3px;
}

.form input[type="text"], .form input[type="email"], .form textarea {
    width: 95%;
    padding: 10px;
    border: 1px solid #ccc;
}

.form button {
    padding: .75rem;
    margin: 1rem;
    background-color: #4682b4;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
}

.form button:hover {
    background-color: #0056b3;
}

/* contact.html */

/* index.html */

.header-img h2 {
    position: relative;
    text-align: center;
    left: 25%;
}

.header-img img {
    position: relative;
    left: 25%;
}

.newsletter {
    position: relative;
    left: 25%;
    width: 65%;
    margin: 20px auto;
    padding: 20px;
    background-color: #f9f9f9;
    text-align: center;
}

.newsletter h2 {
    font-weight: bold;
    margin-bottom: 5px;
    padding: 10px;
    text-align: center;
}

.newsletter input[type="text"], .newsletter input[type="email"] {
    width: 70%;
    padding: 10px;
    border: 1px solid #ccc;
    text-align: center;
}

.left {
    float: left;
    height: 10%;
}

.right {
    float: right;
    height: 10%;
}

.newsletter button {
    display: inline-block;
    padding: 10px 20px;
    margin: 1rem auto;
    background-color: #4682b4;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 15px;
}

.newsletter button:hover {
    background-color: #0056b3;
}

.action h2 {
    position: relative;
    left: 25%;
    text-align: center;
}

.action p {
    position: relative;
    left: 25%;
    text-align: center;
}

.action a:link {
    position: relative;
    left: 69%;
    text-align: center;
}

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    margin: 20px;
}

.grid p {
    position: relative;
    width: 350px;
    text-align: center;
    left: 12%;
}

.grid img {
    display: grid;
    width: 350px;
    height: 225px;
    margin: auto;
}

.grid-left, .grid-right {
    position: relative;
    text-align: center;
    left: 50%;
}

/* index.html */

/* trips.html */

.button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #4682b4;
    color: #ffffff;
    text-decoration: none;
    border-radius: 5px;
}

.button:hover {
    background-color: #0056b3;
}

/* trips.html */