@import url('https://fonts.googleapis.com/css2?family=Roboto');

body {
    font-family: var(--paragraph-font);
    max-width: 960px;
    padding: 20px;
}

:root {
    --primary-color: #00120B;
    --secondary-color: #B5E2FA;
    --accent1-color: #F9F7F3;
    --accent2-color: #547AA5;

    --heading-font: 'Nunito', sans-serif;
    --paragraph-font: 'Roboto', serif;

    --nav-background-color: #B5E2FA;
    --nav-link-color: #547AA5;
    --nav-hover-link-color: #547AA5;
    --nav-hover-background-color: #F9F7F3;
}

.grid header {
    margin: 1rem auto;
    display: grid;
    border-bottom: 1px #0000 solid;
    max-width: 120px;
}

header img {
    display: block;
    width: 15%;
    height: 20%;
    float: left;
    margin: 10px;
}

nav {
    text-align: center;
}

.navigation {
    display: flex;
    list-style: none;
    align-items: center;
}

.navigation li {
    flex: 1;
    border: 1px #00120B solid;
    display: inline-block;
}

.navigation a {
    display: block;
    color: navy;
    text-decoration: none;
    padding: 10px;
}

.navigation a:hover {
    color: tomato;
    font-weight: 700;
    text-decoration: underline;
}

.hero {
    position: relative;
    width: 100%;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}

.hero article img {
    display: block;
    width: 30%;
    height: auto;
    float: right;
}

.hero article {
    position: absolute;
    top: 45%;
    left: 10%;
    right: 10%;
    background-color: rgba(214, 214, 214, 0.7);
    padding: 5px;
}

.hero h1 {
    position: absolute;
    text-align: center;
    top: 25%;
    left: 0%;
    right: 0%;
    color: rgb(255, 255, 255);
    background-color: rgba(59, 59, 59, 0.7);
    padding: 5px 10px;
}

.hero p {
    padding: 25px;
}

section p {
    padding: 10px;
}

.history h2 {
    left: 20%;
    right: 100%
    align-items: center;
}

.history {
    max-width: 600px;
    margin: 0 auto;
}

.left {
    width: 300px;
    height: 300px;
    float: left;
}

.right {
    width: 300px;
    height: 300px;
    float: right;
}


.title h2 {
    text-align: center;
    justify-content: space-between;
}

.adventure {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    align-items: center;
    margin: auto;
}

.adventure figure {
    justify-content: space-between;
    flex-grow: 1;
    width: 200px;
    height: auto;
}

.adventure img {
    width: 200px;
    height: auto;
}

.adventure figcaption {
    display: flex;
    justify-content: space-between;
    background-color: #222;
    color: #fff;
    font-family: Roboto;
    padding: 2px;
}

footer {
    display: flex;
    align-items: center;
    border-top: 2px solid #ccc;
    padding: 20px;
}

footer img{
    position: relative;
    width: 50px;
    height: 50px;
}

.sociallinks nav {
    font-size: 1.2rem;
    display: flex;
    float: right;
}

.sociallinks nav a {
    display: block;
    color: var(--nav-link-color);
    text-decoration: none;
    padding: 1rem;
}

.sociallinks nav a:link,nav a:visited {
    color: var(--nav-link-color);
}

.sociallinks nav a:hover {
    color: var(--nav-hover-link-color);
}